* {
  margin: 0;
}
.alert {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}
.alert-success {
  background-color: #00ff774c;
  border: 2px solid #00873f;
  color: #00873f;
}
.alert-error {
  background-color: #ff00004c;
  border: 2px solid #ff0000;
  color: #ff0000;
}