.search-page {
    background-color: white;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.search-functionality {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}
.search-title {
    width: 100%;
    bottom: 0;
    margin-top: 8px;
    padding-top: 20px;
    color: black;
    font-family: 'DM Serif Display', Serif;
}
.search-form {
    box-sizing: border-box;
    width: 100%;
}
.search-input, .search-button {
    box-sizing: border-box;
    margin-top: 8px;
    width: 100%;
    height: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    border-radius: 20px;
    border-color: transparent;
    outline: 2px solid rgb(162, 177, 129);
}
.search-button {
    background-color: rgb(172, 185, 143);
    color: white;
}

a {
    color: white;
    text-decoration: none;
} a:visited {
    color: white;
}

.filter-brands {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    width: 70%;
}
.filter-brands_button {
    width: 100%;
    padding: 5px;
    border: solid 1px rgb(172, 185, 143);
    border-radius: 3px;
}

@media (max-width: 850px) {
    .search-input, .search-button {
        max-width: 80%;
    }
}
@media (min-width: 850px) {
    .search-input, .search-button {
        max-width: 55%;
    }
}
