.search-component {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.search-title {
    height: 30vh;
    width: 100%;
    bottom: 0;
    margin-top: 8px;
    padding-top: 20px;
    background-image: url('../assets/header_jungle.jpeg');
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

.search-form {
    box-sizing: border-box;
    width: 100%;
}

.search-input, .search-button {
    box-sizing: border-box;
    margin-top: 8px;
    width: 100%;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 20px;
    border-color: transparent;
    outline: 2px solid rgb(162, 177, 129);
}
.search-button {
    background-color: rgb(172, 185, 143);
}

a {
    color: white;
    text-decoration: none;
    font-weight: 400;
} a:visited {
    color: white;
}

/* background-size: cover; */