.search-result_page {
    height: 100vh;
    max-height: 100vh;
    margin-top: 10px;
    overflow-y: scroll;
}

.top-page {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.top-page_button, .brand-score_high, .brand-score_average, .brand-score_low {
    margin: 10px;
    height: 65px;
    width: 65px;
    border-radius: 50px;
}
.top-page_button {
    border: none;
    background-color: #63636383;
    color: white;
}
.top-page_arrow {
    font-size: 35px;
    padding-right: 3px;
    color: #F6F5F5;
    align-items: center;
    justify-content: center;
}
.brand-score_high, .brand-score_average, .brand-score_low {
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.brand-score_high {
    background-color: #a2b181;
}
.brand-score_average {
    background-color: #DFBF8E;
}
.brand-score_low {
    background-color: #cd3838;
}


.search-results_summary {
    text-align: center;
    position: relative;
    margin: 20px 20px 0;
    padding: 15px 15px 0;
    background-color: white;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.search-results-container {
    box-sizing: border-box;
    background-color: white;
    margin: 0 20px 10px;
    padding: 10px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 70vh;
    overflow-y: scroll;
}

.search-results_logo {
    max-width: 175px;
    max-height: 80px;
    width: auto;
    height: auto;
}
.search-results_info {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 12px 20px 12px 20px;
    padding: 8px;
    border: solid 1px #DFBF8E;
    background-color: #F7DBB2;
    border-radius: 20px;
    font-size: 14px;
}

a, a:visited {
    color: darkblue;
    text-decoration: underline;
}

.icon-and-score {
    display: flex;
    flex-direction: column;
}

.icon {
    width: 48px;
    height: 48px;
    padding: 5px;
}