.app-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.title {
  text-align: center;
  
}
.error-message {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  background-color: white;
}

/* .footer {
  display: flex;
  background-color: white;
  height: auto;
  text-align: center;
  align-self: center;
  margin-bottom: 20px;
  bottom: 0%;
  padding-top: 100%;
} */