.app-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("./assets/bg_jungle.jpeg");
}

.title {
  text-align: center;
  
}
.error-message {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  color: white;
  padding: 20px;
}
